/* -------------- Variables -------------- */

:root {
    --transition: all .15s ease-in-out;
    --transform: scale(1.05);
    
    --bluegray: #142945;
    --bluegray-dark: #0F2138;
    --green: #C4D973;
    --green-dark: #AFC267;
    --pink: #F46288;
    --pink-dark: #DC587A;
    --blue: #479EDE;
    --blue-dark: #2788C4;
    --orange: #E5AB59;
    --orange-dark: #CC8C3B;
    --lightgray: #f2f2f2;
    --gray: #DEDEDE;
}



/* -------------- Basic element styles -------------- */

* {transition: all 0.15s ease}

body {
    
    margin: 0;
    font-size: 1em;
    line-height:1.4;
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Open Sans', sans-serif;
/*
    background-image: url(assets/banners/bg_texture.svg);
    background-repeat: repeat-x;
    background-size: auto;
    background-position: bottom; 
*/
    color: var(--bluegray);
}

h1 {
    font-size: 1.5em;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.feature-block, a {
    color:inherit;
    text-decoration: none;
 }

img {
    width: 100%;
}

.slick-slide img, .feature-block > div {
    transition: var(--transition); 
}

/* -------------- Basic grid specs -------------- */

.container {grid-column: 1/4;}

@media screen and (min-width: 1200px) { 
    body {grid-template-columns: 1fr minmax(1200px, 1fr) 1fr;}
}

.content {
    grid-column: 2/3;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.header.content { 
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.content.footer { }

div.content.flex {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 660px) { 
    div.content.flex {
        padding-left: 15px;
    }
}
/* -------------- Text Styles -------------- */

h1, h2, h3, h4, h5, p { 
    font-weight: 200;
}
.banner h1, .hero h1, .hero h2 { color: white;}

p{}

#more {display: none;}


/* ---character include p--- */
#test-content p{
    line-height:1.6;
}
.characterimg{
    margin-left: 30px;
}

/* -------------- Buttons -------------- */

btn {color: red;}

/* -------------- Layout options -------------- */

@media screen and (min-width: 660px) {
    .content.two-column {grid-template-columns: repeat(2,1fr);}
    .content.three-column {grid-template-columns: repeat(3,1fr);}
    .content.four-column {grid-template-columns: repeat(4,1fr);}
    . {grid-template-columns: repeat(2,1fr);}
    .content.five-column {grid-template-columns: repeat(5,1fr);}
    
    .section-preview.split, .split {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    @media screen and (min-width:660px) {
        .section-preview.split a:first-of-type {margin-right: .5em; margin-bottom: 0;}
        .section-preview.split a:last-of-type {margin-left: .5em;}
    }
    
    .span-all {grid-column: 1/-1;}
    .span-two {grid-column: span 2;}
    .span-three {grid-column: span 3;}
    
    .film {grid-column: 3/4; grid-row: 1/3;}
    
}

/* -------------- Mobile Grid -------------- */

@media screen and (max-width: 660px) {
    .content.two-column.mobile {grid-template-columns: repeat(2,1fr);}
}

/* -------------- Row background colors/graphics -------------- */

.container.header {
    background-color: var(--bluegray);
}

@media screen and (max-width: 660px) { 
    .container.header {
        position: sticky; top: 0; z-index: 2;
    }
}

.light-gray {background: lightgray;}

.banner, .gray {background: gray;
}
/* -------------- Home hero banner -------------- */

.hero .content {
    height: 30vh;
    align-items: center;
    justify-content: center;
    position: relative;
/*    overflow-x: hidden;*/
}
.hero .content h1 {color: black;}


.hero .content::after { 
    content: ""; 
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 660px;
    height: 164px;
    background: url(assets/banners/home-curve1.svg) no-repeat;
}
.hero .content::before { 
    
    content: ""; 
    position: absolute;
    bottom: -1px;
    left: -402px;
    width: 660px;
    height: 164px;
    background: url(assets/banners/home-curve2.svg) no-repeat;
}

@media and screen (max-width: 660px) {
    .hero .content::before 
    { content: '';}
    .hero .content::after
    { content: '';}
}


.hero .content.flex div {z-index: 2;}

.hero {
    background-image: url(assets/banners/hero_banner.svg);
/*
    background-color: rgba(74, 20, 140, 0.5);
    background-blend-mode: multiply;
*/
    background-size: cover;
    background-position: center;
}

.hero {
/*    color:white;*/
    text-align: center;
}

.hero h1 { font-size: 2.5em; }
.hero h2 { font-size: 1.2em; }

@media screen and (min-width: 660px) { 

    .hero h1 { font-size: 3.5em; }
    .hero h2 { font-size: 1.5em; }
    .hero .content { 
        height: 60vh; 
        text-align: left;
        align-items: baseline;
        justify-content: flex-end;
    }
    
}


/* -------------- NBA BIOS  -------------- */

.nba_stats{
 
}
.nba_stats h1{
    font-size:4em;
    margin-top:0;
 
}

.nba_stats ul{
    list-style-type:none;
}

/* -------------- TEMPORARY STYLES FOR TESTING ONLY -------------- */

.content {
/*    border: 1px rgba(128, 128, 128, 0.25) solid;*/
    padding: .5em;
}

.banner>div {
    height: 100px;
    color: white;
}

/* -------------- Accordian -------------- */

.ui-state-default {
    
}

/* -------------- Video Section -------------- */

.trailer div.content.flex {
    flex-direction: column;
}

@media screen and (min-width: 660px) {
    .trailer div.content.flex {
        flex-direction: row;
    }
    .trailer div.content.flex div {
         padding-left: 20px;
    }
}




/* -------------- Block Links -------------- */

/*
.section-preview a {text-decoration: none;}
.section-link {color: white;}

.section-link {
    background-size: cover;
    background-position: center;
    height: 100%; 
    text-align: center;
    padding:2em
}

.section-link.about {background-image: url(assets/space-jam.jpg)}
.section-link.bball {background-image: url(assets/space-jam.jpg)}
.section-link.trivia {background-image: url(assets/space-jam.jpg)}
.section-link.match {background-image: url(assets/space-jam.jpg)}

.section-link img {width:100px;}
*/

.block-area a {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
/*    border: 10px solid red;*/
}

.feature-block { 
    display: flex;
    text-align: center;
    border-radius: .75em;
}

.block-title { 
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
    padding: 1em; 
    background-color: white; 
    border: 1px solid;
}
.feature-block.small .block-title {
    border-radius: .75em;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}


.about div { border-color: var(--orange);} 
.about .block-icon, .about .feature-block.small .block-title { background-color: var(--orange);} 
.games div { border-color: var(--green);} 
.games .block-icon, .games .feature-block.small .block-title { background-color: var(--green);} 
.store div { border-color: var(--blue);} 
.store .block-icon { background-color: var(--blue);} 

.block-icon { 
    border-bottom-left-radius: .7em;
    border-bottom-right-radius: .7em;
    display: flex; 
    justify-content: center;
    align-content: center;
    height: 30vh;
    background-size: cover;
    background-blend-mode: luminosity;
    border: 1px solid var(--orange);
}
.block-icon img {padding-bottom: 2em;}

/*
.block-icon.making { background-image: url(assets/space-jam.jpg); }
.block-icon.lineup { background-image: url(assets/space-jam.jpg); }
.block-icon.bball { background-image: url(assets/space-jam.jpg); }
*/

@media screen and (min-width: 660px) {
    .block-area a .feature-block {
        margin-left: 1em;
        margin-right: 1em;
    }
    .block-area a .feature-block:last-of-type {
        margin-right: 0em;
    }
    .block-area a .feature-block:first-of-type {
        margin-left: 0em;
    }
}

.block-area div.feature-block {
    border-radius: .75em;
    background-color: white;
/*    font-family: 'Impact', sans-serif;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: .1em;*/
}

.block-area .feature-block {
    display: flex;
    flex-direction: column;
}



/*
.small .feature-block { 
    height: 240px; 
}
*/

.feature-block.social {
    background-color: white;
    color: black;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-block.social h2 {flex: 1 100%;}
.feature-block.social div {}

@media screen and (min-width: 660px) {
    .feature-block { 
        margin: 0;
        margin-right: 10px;
    }
}

.feature-block:hover > div img, 
.social-link:hover, 
.feature-block.small:hover > div h2 { 
    transform: var(--transform); 
}

.feature-block h2 {margin:0;}
.feature-block img {width:6em; margin-top: 1em}

.link-list a {
    display: flex;
    border-top: solid black 1px;
} 

.link-list a img {
    flex: 0;
    margin-right: 1em;
    width: 40px; height: 40px;
}

.link-list.news a { flex-direction: column; }
.news a p:first-child {margin-bottom: 0; margin-top: 6px; font-weight: bold;}
.news a p:last-child {margin-top: 0;}

/* -------------- Nav bar -------------- */

/*Change height of desktop menu here*/
:root {--height: 80px;}

.topnav {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    /*  background-color: #333;*/
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    /*  text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}


.logo {
/*  background-color: #4CAF50;*/
    color: white;
}

.logo img {
    width: 80px;
    height: 60px;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 1em;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
        font-family: 'Open Sans', sans-serif;
        text-transform: none;
    letter-spacing: 0px;

}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropbtn,
.dropdown-content a:hover { 
    color: var(--orange);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (min-width: 660px) { 
    .topnav {
        overflow: hidden;
        display: flex;
        height: var(--height);
    }
    .logo {
        flex: 1;
    }
    
    .dropdown {
        float: left;
        overflow: hidden;
        display: flex;
    }
    
    .topnav a {
        align-self: center;
    }
    .dropdown-content {
        background-color: white;
        top: var(--height);
    }
    .dropdown-content a {
        color: black;
    }
}

@media screen and (max-width: 660px) {
/*    .topnav {display: flex;}*/
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        font-size: 2.4em;
    }

    .icon:active .dropdown-content {
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .dropdown .dropbtn {}
    .dropdown { 
        padding-bottom: 1em; 
        padding-top: 1em; 
        border-top: rgba(255, 255, 255, 0.56) solid 1px;
        margin-left: 1em; margin-right: 1em;
    }
    .dropdown-content a, .dropdown .dropbtn  { padding-top: 0; padding-bottom: 0;}
    .dropdown-content a { padding-left: 1em; padding-top: .5em; }
    
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown-content {display: block;}

    .topnav.responsive .dropdown-border {
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 0;
    }
}


/* -------------- Subpage Banners -------------- */

.banner .content.flex {
    flex-direction: row;
    align-items: flex-end;
}

@media screen and (max-width: 660px) {
    .banner .content.flex {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.banner {background-size: cover;}
.banner.about {
    background-image:url(assets/banners/orange_banner.svg); 
}
.banner.nba {
    background-image:url(assets/banners/orange_banner.svg); 
    height:auto;
}
.banner.games {
    background-image:url(assets/banners/green_banner.svg); 
    height: auto;
}
.banner.store {
    background-image:url(assets/banners/blue_banner.svg); 
}
.banner.sj2 {
    background-image:url(assets/banners/pink_banner.svg); 
}

/* -------------- footer -------------- */

.footer {background-color: var(--bluegray);}
.footer.trans {background-color: rgba(0, 0, 0, 0);}

.footer.trans div div {
    background-color: var(--bluegray);
}

@media screen and (min-width: 660px) {
    #footer.content.flex {
        flex-direction: row;
    }
    
}

@media screen and (max-width: 660px) {
    #footer.content.flex {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer .logo {
        flex: 1 100%;
        display: flex;
        justify-content: center;
    }
    .footer a {border-right: 1px solid white;}
    .footer a:first-child, .footer a:last-child {border: none; }
}

.footer{
    list-style-type:none;

}

.footer a{
    display:block;
    padding:10px;
    color: #fff;
}

}
.footer li{
    flex: 1 1 1 0;
}
  

/* -------------- Carousel Styles -------------- */

.headshot {
    width:60px; height: 60px;
    margin-bottom: 15px;
    border-radius:50%;
    border: 1px solid black;
}

.headshot.large {
    width: 160px; height: 160px;
}
.headshot.xlarge {
    width: 220px; height: 220px;
}
.headshot.xxlarge {
    width: 320px; height: 320px;
}


#new.content.flex {
    flex-direction: row;
    justify-content: center;
}
#new.content.flex div {
    display: flex;
    align-items: center;
}
#new h1{margin-top: 0;padding-left: 20px;}


.slick-slide {
    padding: 20px 0;
    text-align: center;
}
.slick-slide p {margin: 0; color: black}
.slick-slide a {
    color: white;
    text-decoration: none;
}
.slick-slide a, .carousel-item {
    display: flex!important;
    flex-direction: column;
    align-items: center;
}

.slick-slide img {
    margin-bottom: 10px;
    display: unset;
}

.slick-slide:hover p, .slick-slide:focus p {
    color: red;
}
.slick-slide:hover img, .slick-slide:focus img {
    transform:  var(--transform);
}

.slick-next, .slick-prev {
    z-index: 2;
    right: 32px;
}
.slick-prev {
    z-index: 2;
    left: 15px;
}
.slick-prev:before, .slick-next:before {
    font-size: 38px;
    color: gray;
}

/* Display carousel as grid in desktop view and hide grid in mobile view*/

@media screen and (max-width:660px) {
    .five-column-grid {
        display: none;
    }
}

@media screen and (min-width: 660px) {
    
    .five-column-grid {
        display: grid;
        grid-column-gap: 0.75em;
        grid-template-columns: repeat(5,1fr);
    }    

    .sound-clip-1 {
        grid-column: 1 / 2;
    }
    
    .sound-clip-2 {
        grid-column: 2 / 3;
    }
    
    .sound-clip-3 {
        grid-column: 3 / 4;
    }
    
    .sound-clip-4 {
        grid-column: 4 / 5;
    }
    
    .sound-clip-5 {
        grid-column: 5 / 6;
    }
    
    
}
/*---table styles---*/
table {
    border-collapse: collapse;
      border: 1px solid #dddddd;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*---- Store styles---- */

#album-cover {
        width:80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

@media screen and (max-width: 660px) {
    #album-cover {
        grid-row: 1/2;
    }
}

.album-thumbnail {
/*    margin: 1em;*/
}

.artist {
    display: flex; 
    margin-bottom: 1.25em;}
.artist img {
    width: 100px; 
    height: 100px; 
    padding-right: 10px;
}
.artist div {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.artist p {
    margin: 0;
}
.artist p:first-child {
    font-size: 1.2em;
}
.description {    
    border-top: 1px solid black;
}

@media screen and (min-width: 660px) {
    .artist-feature {
        padding-right: 1em;
    }
}

/* Space Swag */

.space-swag {
    padding-right: 0.75em; 
}


.space-swag p {
        margin-bottom: 0.75em;
    }
    
.space-swag button {
        margin-bottom: 2.5em;
    }

/* Buttons */

button {
    border: none;
    color: white;
    padding: 1em;
    font-size: 1em;
    margin-top: .25em; 
    border-radius: .3em;
}
button.small { font-size: .8em; padding: .7em; }

button.primary {background-color: var(--orange);}
button.secondary {background-color: var(--green-dark);}

button:hover {opacity:.6;}
button:active {opacity:1; transform: var(--transform);}



/* ---- Game styles ---- */

#nerdluck-match {
    margin-right: auto;
    margin-left: auto;
    
}

@media screen and (min-width: 660px){

    .monstar {
    max-height: 300px;
    }

}

.content.five-column.two-column mobile {
    
    justify-content: space-between;
}


#quiz-feedback, #match-feedback {
    margin-bottom: 1em;
}

/* ---- Star page ---- */

#quote {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-right: auto;
    margin-left: auto;
}

#citation {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin-right: auto;
    margin-left: auto;
}

#star-container {
    justify-content: space-evenly;
}


