
body {
    margin: 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
}

.hero-header {
    font-size: 4em;
    line-height: 1em;
    font-family: 'Oswald', Arial, sans-serif;
    color: white;
    margin-top:50px;
    margin-bottom:-50px;
}
.hero-description {
    font-size: 2em;
    font-family: 'Oswald', Arial, sans-serif;
    color: white;
}

/* -------------- Basic element styles -------------- */

img {
    width: 100%;
}

/* -------------- Basic grid specs -------------- */

.container {grid-column: 1/4;}

@media screen and (min-width: 1200px) { 
    body {grid-template-columns: 1fr minmax(1200px, 1fr) 1fr;}
}

.content {
    grid-column: 2/3;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.content.nav {grid-template-columns: auto 1fr;}
.content.footer { }

/* -------------- Text Styles -------------- */
/* -------------- Layout options -------------- */

@media screen and (min-width: 660px) {
    .content.three-column {grid-template-columns: repeat(3,1fr);}
    .content.four-column {grid-template-columns: repeat(4,1fr);}
    .content.two-column {grid-template-columns: repeat(2,1fr);}
    
    .section-preview.split {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    @media screen and (min-width:660px) {
        .section-preview.split a:first-of-type {margin-right: .5em; margin-bottom: 0;}
        .section-preview.split a:last-of-type {margin-left: .5em;}
    }
    
    .span-all {grid-column: 1/-1;}
    .span-two {grid-column: span 2;}
    
    .film {grid-column: 3/4; grid-row: 1/3;}
}



/* -------------- Row background colors/graphics -------------- */

.header, .light-gray {background: lightgray;}
.hero {
    background-image: url(assets/space.jpg);
    background-color: rgba(74, 20, 140, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}
.banner, .gray, .footer {background: gray;}

/* -------------- TEMPORARY STYLES FOR TESTING ONLY -------------- */

.content>div {
    border: 1px black solid;
    padding: .5em;
}
.hero>div {
    height: 50vh;
}
.banner>div {
    height: 100px;
    color: white;
}

/* -------------- Block Links -------------- */

.section-preview a {text-decoration: none;}
.section-link {color: white;}

.section-link {
    background-size: cover;
    background-position: center;
    height: 100%; 
    text-align: center;
    padding:2em
}

.section-link.about {background-image: url(assets/space-jam.jpg)}
.section-link.bball {background-image: url(assets/space-jam.jpg)}
.section-link.trivia {background-image: url(assets/space-jam.jpg)}
.section-link.match {background-image: url(assets/space-jam.jpg)}

.section-link img {width:100px;}


/* -------------- Nav bar -------------- */



/*#menu a{
 text-decoration: none;
 color: #333;
 font-family: sans-serif;
 padding: 15px;
 
}

#menu a:hover{
 background-color: blueviolet;
}*/

:root {
  --background: rgba(0, 214, 170, .85);
}

*, *::before, *::after {
  box-sizing: border-box;
}


/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

