/* Style the tab */
.tab {
    overflow: hidden;
    display: inline;
    color:var(--darkgray);
        border: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
        color:var(--bluegray);
    background-color: var(--gray);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    margin-right:.5em;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color:var(--bluegray)

    
}

/* Create an active/current tablink class */
.tab button.active {
    font-weight:bold;
    color:var(--bluegray);

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 30px 12px 0;
    border-top: none;
}